@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
    color: #002B54;
}

table{
  background: #ffffff;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th, td{
  padding: 10px;
}

thead{
  background-color: #002B54;
  color: #ffffff;
  border-bottom: solid 3px #000000;

}

tr:nth-child(even){
  background-color: #ddd;
}

#main-content {
    background: white;
    width: 92.5%;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 15px;
}

#main-content .content { padding: 40px; }
#main-content header { padding: 20px; }
#main-header {
    background: #002B54;
    color: white;
    height: 80px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header a { color: white; }

.botonSubmit {
    font-weight: 400;
    font-size: 15px;
    color: #F9F9F9;
    background-color: #002B54;
    border-radius: 6px;
    border: 2px solid #002B54;
    width: 100px;
}
.botonSubmit:hover{
    color: #002B54;
    background-color: #ffffff;
}


#main-footer {
    background: #002B54;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
#main-footer p {
    margin: 0;
}
.navegacion{
  width: 1000px;
  margin: 20px auto;
  background: #002B54;
}

.navegacion ul{
  list-style: none;
}

.menu > li{
  position: relative;
  display: inline-block;
}

.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li a:hover{
  color: #CE7D35;
  transition: all .3s;
  background-color: #002548;
}



#main-footer {
    background: #002B54;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
#main-footer p {
    margin: 0;

  }