body{
    background: #333;
    margin: 0;
    padding: 0;
    font-family: "Montserrar", sans-serif; 
    background: url(image.jpg);
    background-size: cover;
    
}

.container{
    
    width: 360px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    
    
    
}

.container.h1{
    font-size: 40px;
    margin-top: 125px;
    margin-bottom: 60px;
    
}

.tbox{
    
    width: 260px;
    height: 40px;
    background: #F9F9F9;
    border-radius: 10px;
    margin: 10px auto;
}

.tbox input{
    
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrar", sans-serif; 
    font-size: 14px;
    color: #333;
}

.btn{
    width: 260px;
    height: 40px;
    background: #5EC855;
    border-radius: 10px;
    margin: 14px auto;
    display: block;
    font-family: "Montserrar", sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
  
}

.b1{
    display: block;
    width: 260px;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    transition: 0.4s all;
    
}

a:hover{
    
    background: #00000040;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/12/2020, 02:49:29 AM
    Author     : Valdez
*/

